.Astronauts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.Astronauts nav div {
  background-color: #a7c3f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.Astronauts nav {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.Astronauts .naut-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #bababa;
  padding: 15px 0;
}

.Astronauts .left-side {
  width: 33%;
  margin: 10px;
}

.Astronauts .left-side img {
  border-radius: 5px;
  width: 30vw;
}

.Astronauts .right-side {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  width: 66vw;
}

.Astronauts .right-side p {
  width: 100%;
}

.Astronauts button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  transition: 0.3s ease;
}

.Astronauts button:hover {
  background-color: #45a049;
}

.Astronauts .filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.Astronauts .filter-container > * {
  margin-bottom: 10px; /* Space between filter inputs */
  width: 100%; /* Control width of filter inputs */
}

.Astronauts .filter-container input,
.Astronauts .in-space-div,
.Astronauts .age-range-container,
.Astronauts .most-time-in-space-div {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 90%;
}

.Astronauts .filter-container button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Astronauts .filter-container button:hover {
  background-color: #2980b9;
}

.Astronauts .flipUpsideDown {
  transform: rotate(-180deg);
}

.Astronauts .in-space-div,
.Astronauts .most-time-in-space-div {
  background-color: #85cc70;
  cursor: pointer;
  text-align: center;
}

.Astronauts .in-space-div:hover {
  background-color: #72b162;
}

.Astronauts .age-range-container {
  display: flex;
  width: 90%;
}
