.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 1px solid black;
}

.Header h1 .h1Content {
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.Header h1 span {
  display: inline-block;
  transition: transform 0.2s linear;
}

.Header h1 span span {
  font-size: 1rem;
  position: relative;
  left: 5px;
  bottom: 5px;
}

.Header .flipUpsideDown {
  transform: rotate(-180deg);
}

.Header .h1Content:hover {
  color: black;
}

.Header .h1Active {
  color: black;
}

.Header .profileNavigationContainer {
  display: none;
  z-index: 10;
}

.Header .profileNavigationContainer.navActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px;
  right: 0;
}

.Header .googleIcon {
  position: absolute;
  top: 20px;
  right: 30px;
  color: green;
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.Header .googleIcon:hover {
  color: rgb(5, 71, 5);
}

.Header .iconActive {
  color: rgb(5, 71, 5);
}

.Header .profileNavigationContainer {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
}

.Header .profileNavigationContainer a {
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 20px;
}

.Header .profileNavigationContainer a:hover {
  text-decoration: 1px underline;
}

.Header .signOutBtn,
.Header .signInBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}
.Header .big-screen-sign-in-btn {
  display: none;
}

.Header .tab-buttons {
  display: none;
}

@media only screen and (min-width: 768px) {
  .Header h1 .h1Content {
    cursor: default;
  }
  .Header .is-big-screen-carrot {
    display: none;
  }
  .Header .googleIcon {
    display: none;
  }
  .Header .big-screen-sign-in-btn {
    display: inline-block;
    border: none;
    font-size: 1.2rem;
    color: green;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .Header .big-screen-sign-in-btn:hover {
    color: rgb(113, 172, 113);
  }

  .Header .profileNavigationContainer {
    margin-right: 20px;
  }
  .Header .tab-buttons {
    display: flex;
    justify-content: space-between;
    width: 30%;
    position: relative;
  }

  .Header .tab-buttons button {
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    padding: 8px 16px;
    border-radius: 5px;
    transition: 0.3s ease;
    z-index: 1000;
  }
  .Header .tab-buttons button:hover {
    background-color: rgb(230, 230, 230);
  }

  .Header .learn-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -224px;
    left: -35px;
    background-color: black;
    border: 5px outset white;
  }
  .Header .learn-options a,
  .Header .events-options a {
    color: white;
    padding: 10px;
  }
  .Header .learn-options a:hover,
  .Header .events-options a:hover {
    background-color: rgb(94, 94, 94);
  }

  .Header .events-options {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -120px;
    right: -15px;
    border: 5px outset white;

    background-color: black;
  }

  .Header #fancy-search {
    background-color: white;
    color: black;
    transition: 0.3s ease;
  }
  .Header #fancy-search:hover {
    background-color: rgb(230, 230, 230);
  }
}
