.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 10px;
  margin: 10px;
}

.Profile h2 {
  text-decoration: 1px underline;
  text-align: center;
  font-weight: normal;
  font-size: 2rem;
}

.Profile h3 {
  font-size: 2rem;
  text-align: center;
}

.Profile .account-info {
  background-color: rgb(208, 236, 238);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 5px inset black;
}
.Profile .left {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
}

.Profile .left .info-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Profile .left .info-label {
  font-weight: bold;
}

.Profile .left .name {
  font-size: 2rem;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
}

.Profile .right img {
  height: 100px;
  position: relative;
  right: 20px;
}

.Profile .comments {
  margin-top: 20px;
  background-color: #90ee90;
  border: 1px solid black;
  padding: 20px;
  position: relative;
}
.Profile .comments h3 {
  cursor: pointer;
}
.Profile .comment-li {
  border-bottom: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.Profile .load-more-comments-btn {
  position: absolute;
  bottom: -17px;
  left: 50%;
  width: 80%;
  height: 30px;
  border-radius: 100px;
  border: none;
  background-color: rgb(208, 236, 238);
  transform: translateX(-50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: 0.3s ease;
}

.Profile .load-more-comments-btn:hover {
  background-color: rgb(185, 230, 235);
}

.Profile h3 span {
  display: inline-block;
  transition: transform 0.2s linear;
  cursor: pointer;
}

.Profile .saved-items-h3 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  width: fit-content;
}

.Profile .flipUpsideDown {
  transform: rotate(-180deg);
}

/* .Profile .dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.Profile .dropdown-li {
  padding: 10px;
  border: 1px solid black;
  width: 25%;
  background-color: #ffffe0;
  cursor: pointer;
} */

.Profile .dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #f9f9f9; /* Light grey background */
  border: 1px solid #ddd; /* Light grey border */
  border-radius: 4px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  width: 200px; /* Adjust width as needed */
  padding: 10px 0;
}

.dropdown-li {
  width: 100%;
  color: #333; /* Dark grey text color */
  cursor: pointer; /* Change mouse cursor on hover */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.dropdown-li:hover {
  background-color: #e9e9e9; /* Slightly darker grey on hover */
}

.Profile #new-name {
  padding: 5px;
  width: 30vw;
}

.Profile .new-name-form {
  position: relative;
  width: 30vw;
}

.Profile .new-name-form button {
  background-color: transparent;
  border: none;
}

@media only screen and (min-width: 768px) {
  .Profile #new-name {
    width: fit-content;
  }

  .Profile .info-comment-container {
    display: flex;
    justify-content: space-around;
  }

  .Profile .comments {
    width: 50%;
    height: fit-content;
    margin-top: 0;
    margin-left: 10vw;
  }

  .Profile .saved-item-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .Profile .saved-item-ul > li {
    flex-basis: calc(50% - 10px);
  }
  .Profile .saved-item-ul .SingleSpaceArticle,
  .Profile .saved-item-ul .SpaceImage {
    flex-basis: calc(45% - 10px);
  }

  .Profile .dropdown {
    width: 100%;
    flex-direction: row;
    padding: 10px;
    gap: 10vw;
  }
}
