.ProgramDetails {
  background-color: #f4f4f4;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  margin: auto;
}

.ProgramDetails p {
  color: #333;
  font-size: 14px;
  margin-bottom: 10px;
}

.ProgramDetails a {
  color: #007bff;
  text-decoration: none;
}

.ProgramDetails a:hover {
  text-decoration: underline;
}

.ProgramDetails img {
  height: auto;
  width: 70%;
  margin: 10px 0;
  border-radius: 4px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* Adjustments for larger screens */
@media (min-width: 768px) {
  .ProgramDetails {
    width: 80%;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    box-sizing: border-box;
  }

  .ProgramDetails img {
    width: 20vw;
  }
  .ProgramDetails p {
    font-size: 20px;
  }

  .ProgramDetails .program-details-left {
    flex: 1;
    padding: 10px 20px;
  }
  .ProgramDetails .program-details-right {
    flex: 3;
    padding: 10px 20px;
  }
}
