.SpaceImage {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.SpaceImage:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.SpaceImage img {
  max-width: 100%;
  height: auto; /* Maintains the aspect ratio of the image */
  border-radius: 4px;
  margin-top: 10px; /* Space between the title and the image */
}

.SpaceImage h3 {
  font-size: 1.2em;
}
