.SpaceImage {
  /* Add styles for the SpaceImage container */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #cccccc;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  margin-bottom: 15px;
}

.SpaceImage:hover {
  background-color: #f4f4f8;
}

.SpaceImage h3 {
  /* Styles for the title inside SpaceImage */
  margin-bottom: 15px;
  color: #333;
  font-size: 1.5em;
}

.SpaceImage a {
  /* Styles for the link inside SpaceImage */
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

.SpaceImage a:hover {
  color: #0056b3;
}

.SpaceImage img {
  /* Styles for the image inside SpaceImage */
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}
.SpaceImage img:hover {
  transform: scale(1.01);
}
