.Spacecrafts {
  display: flex;
  flex-direction: column;
}

/* Sub Navigation Styling */
.Spacecrafts nav div {
  background-color: #a7c3f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-top: 20px;
  font-size: 1.2rem;
}

.Spacecrafts nav {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/* Spacecraft styling*/
.Spacecrafts .craft-li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.Spacecrafts .left {
  flex: 1;
  padding-right: 20px;
}

.Spacecrafts .right {
  flex: 2;
  text-align: left;
}

.Spacecrafts .craft-image {
  width: 30vw; /* Adjust as needed */
  height: auto;
  border-radius: 4px;
}

.Spacecrafts .craft-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.Spacecrafts .craft-agency {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 10px;
}

.Spacecrafts .details-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.Spacecrafts .details-btn:hover {
  background-color: #0056b3;
}

/* Filter Styling */
.Spacecrafts .filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.Spacecrafts .filter-container > * {
  margin-bottom: 10px; /* Space between filter inputs */
  width: 90%; /* Control width of filter inputs */
}

.Spacecrafts .filter-container input,
.Spacecrafts .in-space-div,
.Spacecrafts .age-range-container,
.Spacecrafts .most-time-in-space-div {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 90%;
}

.Spacecrafts .filter-container button {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Spacecrafts .filter-container button:hover {
  background-color: #2980b9;
}

.Spacecrafts button span {
  display: inline-block;
  transition: transform 0.2s linear;
  cursor: pointer;
}

.Spacecrafts .flipUpsideDown {
  transform: rotate(-180deg);
}

.Spacecrafts .in-space-div,
.Spacecrafts .most-time-in-space-div {
  background-color: #85cc70;
  cursor: pointer;
  text-align: center;
}

.Spacecrafts .in-space-div:hover {
  background-color: #72b162;
}

.Spacecrafts .age-range-container {
  display: flex;
  width: 90%;
}

.Spacecrafts .load-more-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  transition: 0.3s ease;
}

.Spacecrafts .load-more-btn:hover {
  background-color: #45a049;
}

@media only screen and (min-width: 768px) {
  .Spacecrafts .filter-container {
    align-self: center;
    width: 40vw;
  }
}
