body,
h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f4f4f4;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}
